
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSistema.cshtml";
}

<!--Content area-->
<body>
          <center>
            <div class="viagem_mainDiv">
                <h1 class="text-success text-capitalize">Vestibular Univesp 2024</h1>
                <p class="text-muted ">
                    São ofertadas mais de 23 mil vagas, em 425 polos, maior processo seletivo em alcance territorial do Estado; inscrições até 08/04 pelo site www.vestibular.univesp.br
                </p>
            </div>
            <br><br>
                <center>
                    <div class="viagem_mainDiv">
                        <img src="">
                        <hr>
                        <h5 class="text-success text-capitalize"></h5>
                        <p class="text-muted">
                            
                        </p>
                    </div>
                    <img src="~/assets/images/mb.jpg">
                    <div class="container">
                </center> <br><br>
                
            <center>
                <div class="viagem_mainDiv">
                    <img src="">
                    <hr>
                    </div>
            </center>


    </div>
    <!--/Content area-->
