@{
    ViewBag.Title = "Principal";
    Layout = "~/Views/Shared/_LayoutSistema.cshtml";
}

<!--Content area-->
@*<h1>CABEÇALHO</h1>
<h1></h1>
<h1>TEXTO INFORMATIVO</h1>
<h1></h1>
<h1>PROPAGANDA</h1>
<h1></h1>
<h1>ANÚNCIO</h1>
<h1></h1>
<h1>ESCOLA</h1>
<h1></h1>
</div>*@
<!--/Content area-->