
@{
    ViewBag.Title = "GerenciarUsuario";
    Layout = "~/Views/Shared/_LayoutSistema.cshtml";
}

<!-- Inline user card -->
<div class="content" id="cardUsuario">
    <!--O HTML abaixo é preenchido dinâmicamente no JS AdmUsuario função sucessoGetUser-->
    <div class="panel panel-body col-md-3">
        <div class="media">
            <div class="media-left">
                <a href="~/assets/images/placeholder.jpg">
                    <img src="~/assets/images/placeholder.jpg" class="img-circle img-lg" alt="">
                </a>
            </div>

            <div class="media-body">
                <h6 class="media-heading" id="nomeCadastro"></h6>
                <span class="text-muted">Lead developer</span>
            </div>

            <div class="media-right media-middle">
                <ul class="icons-list">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-menu7"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="#" onclick="excluirUsuario(id)"><i class="icon-add pull-right"></i>Editar</a></li>
                            <li class="divider"></li>
                            <li><a href="#"><i class="icon-trash pull-right"></i>Excluir</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- /inline user card -->